@model bodegaAPP.Dominio.Bodega
@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h2> </h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Modifica Bodega</strong>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.idbodega)
            @Html.HiddenFor(model => model.iduser)
            @Html.HiddenFor(model => model.latitud)
            @Html.HiddenFor(model => model.longitud)

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                    <input class="form-control" id="disabledInput" type="text" placeholder=@Html.DisplayFor(model => model.idbodega) disabled>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-registration-mark"></i></span>
                                    <input class="form-control" id="nombre" name="nombre" type="text" value="@Html.DisplayFor(model => model.nombre)">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                    <input class="form-control" id="direccion" name="direccion" type="text" value="@Html.DisplayFor(model => model.direccion)">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" id="contacto" name="contacto" type="text" value="@Html.DisplayFor(model => model.contacto)">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                    <input class="form-control" id="telefono" name="telefono" type="text" value="@Html.DisplayFor(model => model.telefono)">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>@Html.CheckBoxFor(model => model.activo) Estado</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <style>
                            #map {
                                height: 400px;
                                width: 600px;
                            }
                        </style>

                        <div class="row">
                            <div id="map"></div>
                            <script>
                                let marker;

                                function initMap() {
                                    const map = new google.maps.Map(document.getElementById("map"), {
                                        zoom: 18,
                                        center: { lat: @Html.DisplayFor(model => model.latitud), lng: @Html.DisplayFor(model => model.longitud) },
                                    });

                                    marker = new google.maps.Marker({
                                        map,
                                        draggable: true,
                                        animation: google.maps.Animation.DROP,
                                        position: { lat: @Html.DisplayFor(model => model.latitud), lng: @Html.DisplayFor(model => model.longitud) },
                                    });
                                    marker.addListener("click", toggleBounce)

                                    google.maps.event.addListener(marker, 'dragend', function () {
                                        var Lats = marker.getPosition().lat();
                                        var Longs = marker.getPosition().lng();
                                        $('#latitud').val(Lats);
                                        $('#longitud').val(Longs);
                                    });
                                }

                                function toggleBounce() {
                                    if (marker.getAnimation() !== null) {
                                        marker.setAnimation(null);
                                    } else {
                                        marker.setAnimation(google.maps.Animation.BOUNCE);
                                    }
                                }
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAklTEBaGL6_JdZ3lTVqjsxDdhbh81J9OA&callback=initMap&v=weekly"
                                    async></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="btn-group">
                            <input class="btn btn-primary" type="submit" value="Grabar" />
                            @Html.ActionLink("Regresar", "Index", new { id = Model.idbodega }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>