@model bodegaAPP.ProductosService.Producto
@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h2> </h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>¿Está seguro de ELIMINAR este producto?</strong>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @ViewBag.Titulo1
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.idproducto)
                </dd>
                <dt>
                    @ViewBag.Titulo2
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
                <dt>
                    @ViewBag.Titulo3
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.imagen)
                </dd>
                <dt>
                    @ViewBag.Titulo4
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.precio)
                </dd>
                <dt>
                    @ViewBag.Titulo5
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.idcategoria)
                </dd>
                <dt>
                    @ViewBag.Titulo6
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.idbodega)
                </dd>
                <dt>
                    @ViewBag.Titulo7
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.activo)
                </dd>
            </dl>
        </div>
        <div class="panel-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="btn-group">
                    <input class="btn btn-primary" type="submit" value="Eliminar" />
                    @Html.ActionLink("Regresar", "Index", "Productos", new { id = Model.idbodega }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
</div>