@model bodegaAPP.ProductosService.Producto
@{
    ViewBag.Title = "Details";
}

<h2>@ViewData["Message"]</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.Titulo1
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idproducto)
        </dd>
        <dt>
            @ViewBag.Titulo2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @ViewBag.Titulo3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt>
            @ViewBag.Titulo4
        </dt>
        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt>
            @ViewBag.Titulo5
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idcategoria)
        </dd>
        <dt>
            @ViewBag.Titulo6
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idbodega)
        </dd>
        <dt>
            @ViewBag.Titulo7
        </dt>
        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idproducto }) |
    @Html.ActionLink("Retorno a la lista", "Index", "Productos", new { id = Model.idbodega }, new { Style = "" })
</p>